[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack_bolt = "*"
slack_sdk = "*"
requests = "*"
jpholiday = "*"
PyYAML = "*"
boto3 = "*"
openai = "==1.10.0"
trafilatura = "*"
lxml = "*"
fastapi = "==0.99.0"
pydantic = "==1.10.9"
mangum = "==0.17.0"

[requires]
python_version = "3.11"

[dev-packages]
pytest = "*"
uvicorn = "*"
